
*{


    outline:medium none;
}


body{
    background-color:#fff !important;
    direction:rtl;
}

.title{
 
 
    background:#9EC0C8;
	
    cursor: move;

    font-size: 1.0em;
    
    
    color: #fff;
    padding-top:3px;padding-bottom:3px;
    text-align: center;
    line-height: 25px;
    background-position: center -15px;
    position: relative;

    cursor: pointer;
    text-transform: capitalize;
}



.content{

    font-size: 14px;
    color: rgb(51, 51, 51);

}
.content a{
    background-position: right center;
    margin: 3px 4px;
	text-align:center;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    display: list-item;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 18px;
    background-color: #fff;
    list-style-type: none;
    list-style-position: inside;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    font-weight:bold;
    border:3px solid #fff;
}
.content a i{
	font-size:1.5em;
	color:#fff;
}
.content a:hover{
    border:3px solid #81c408;
}







/*----------table------------*/

.table {

    *border-collapse: collapse; /* IE7 and lower */

    border-spacing: 0;
    width: 100%;  

    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc; 
    direction:rtl;   
    
    font-size:0.9em;
    font-weight:normal;     
}

 
.table td, .table th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 1px;
    text-align: center;   
    font-weight:500;
}
.table tr:nth-child(even) {background: #f9f9f9}
.table tr:nth-child(odd) {background: #FFF}

.table tr:hover {

    
    background:#EDF9EC;
    transition: all 0.1s ease-in-out;     
}    
   

.table th{
	background:#fdfdfd;
	border:0;
    color:#000;
    font-weight:bold;
}

.table td:first-child, .table th:first-child {
    border-right: none;
}

.table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;

    border-radius: 6px 0 0 0;
}

.table th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}



/*----------------------*/





.border1-tr td{
    border-bottom: 1px solid #eee !important ;
}



.tablein{
    background: #FFFFFF;

    font-size: 0.9em;

    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    margin-top:9px;
    margin-bottom:9px;

}
.tablein tr{
    border-color: #CCCCCC;
}

.tablein tr td{
        border: none;
        height: 28px;
        text-align:center;
}
.tablein tr td{
    padding:3px;
}


.tablein .th4table {
    background:linear-gradient(#fff, #f7f7f7);
	background:-o-linear-gradient(#fff, #f7f7f7);
	background:-ms-linear-gradient(#fff, #f7f7f7);
	background:-moz-linear-gradient(#fff, #f7f7f7);
	background:-webkit-linear-gradient(#fff, #f7f7f7);
    height: 25px;
    margin-bottom: 5px;
    color:#222;
    font-size:1.0em;
}
 .tablein  tr.th4table:hover {
    background:linear-gradient(#fff, #f0f0F3);
	background:-o-linear-gradient(#fff, #f0f0F3);
	background:-ms-linear-gradient(#fff, #f0f0F3);
	background:-moz-linear-gradient(#fff, #f0f0F3);
	background:-webkit-linear-gradient(#fff, #f0f0F3);
}




.clear{height:1px; clear:both;}


.center{
    text-align: center;
}

input[type=text],input[type=password] {
    height: 30px;
    width:250px;
}
textArea{
    width:450px; height: 110px;
}
input[type=text],input[type=password], textarea{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin: 3px;
    padding:3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}


select{
    height: 30px;
    padding: 1px 6px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 20px;
}
input[type='number']{width:50px; height: 20px}

.pager{
    padding:1px 10px;
    margin-right: 5px;
    text-decoration: none;
    background:#666;
    font-weight: bold;
    float:right;
    color:#fff;
    box-shadow: 0px 0px 3px #222;
    -moz-box-shadow: 0px 0px 3px #222;
    -webkit-box-shadow: 0px 0px 3px #222  
}
.pager:nth-child(2n){
    background:#666;
}
.barTab{
    width:100%;
    height:30px;
    background-color: #fff;

}




.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-primary {
    color:#fff;
    background-color:#337ab7;
    border-color:#2e6da4
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.allordersCost,.allPaid,.studentPaid,.allRemain{
    color:red;
}
.minusAmount{
    display: none;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:20px;
}
.box{
    width:190px;
    height: 140px;
    color:#ffffff;
    padding:5px;
    text-align: center
}
.bg-blue {
    background: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.balanceRight{
    width:40%;
    float:right;
    background: gainsboro;
}
.balance-left{
    width:60%;
    float:left;
    background: ghostwhite;
}
.danger-font{
    color: #dd4b39;
}
.success-font{
    color:#00a65a;
}
.warning-font{
    color:#f39c12
}
.half{
    width:49%;
}
.right{
    float: right;
}
.left{
    float: left;
}

.top_right_menu{

border-radius:0;
height:23px;
padding-right:10px;
padding-top:3px;
padding-bottom:3px;
text-align:right;
font-size:1.1em;

}



/*#################################################################################################*/
.header{
    width:100%;
    height:80;
    background-color:#3b5998;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

}

.footer{
    width:100%;
    height:40px;
    margin: 0 auto;
    text-align:center;
    background-color:#3b5998;
    color:#fff;
    

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}





input.cp_input,input.select_date,select.stander_select_list
{

	float:center;
	width:100%;
	height:35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	border-style: solid;

  max-width:280px;

	/*background-image: url('../icons/date_icon.png');*/
	background-color:#fff; 
	background-size: 25px 25px;

	text-align:right;


	background-position: right; 
	

	/*padding: 2px 40px 2px 2px;*/


}

input.search
{
	background-image: url('../icons/search_icon.png');
	background-repeat: no-repeat;
	padding: 2px 40px 2px 2px;
}




















/*
==================================================
============   update image class ============
==================================================
*/
.iconEdit{
	content:url('../icons/update.png');
	margin:5px;
	width:32px;
	float:center;
	opacity:0.8;

}


.iconEdit:hover{
	opacity: 1;
}

/*
==================================================
==================================================
*/




/*
==================================================
============   delete image class ============
==================================================
*/
.iconDel{
	content:url('../icons/delete.png');
	margin:5px;
	width:32px;
	float:center;
	opacity:0.8;
}


.iconDel:hover{
	opacity: 1;
}

/*
==================================================
==================================================
*/

/*
==================================================
============   restore image class ============
==================================================
*/
.restoreRow-img{
	content:url('../icons/restore.png');
	margin:5px;
	width:32px;
	float:center;
	opacity:0.8;
}


.restoreRow-img:hover{
	opacity: 1;
}

/*
==================================================
==================================================
*/






